.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0px;
    width: 80%;
    margin: auto;
    border: 1px solid white;
    max-height: 50%;
}

.table > * {
    height: 3rem;
    border: 1px white solid;
    margin: 0px;
    padding-top: 1vh;
}

h2 {
    height: 2.5rem;
}

